
<div class="modal" id="orderDetailsModal" style="display: none;">
    <div class="modal-content" style="max-width: 800px;">
        <div class="form-header">
            <h3>Order Details</h3>
            <button class="close-form" id="closeOrderDetails">&times;</button>
        </div>
        <div class="order-details-content">
            <div class="order-summary">
                <!-- Order details will be populated dynamically -->
            </div>
        </div>
    </div>
</div>
