<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="/stylesheets/authentication/forgetPassword.css">
</head>
<body>
  <canvas id="backgroundCanvas"></canvas>
  <div class="login-container">
    <div class="login-box">
      <!-- Logo Section -->
      <div class="logo-section">
        <img src="/images/common/logo.png" alt="Logo">
      </div>

      <!-- Image Section -->
      <div class="image-section">
        <img src="/images/authentication/signin image.jpg" alt="Forgot Password Image">
      </div>

      <!-- Form Section -->
      <div class="form-section">
        <h2>Forgot Password</h2>
        <p>Enter your email address to receive a link to reset your password.</p>
        <form action="/auth/forgetPassword/sendOtp" method="POST">
          <!-- Email Input -->
          <% if (error) { %>
            <input type="text" name="emailOrPhone" placeholder="Email or Phone Number" id="emailOrPhone" class="" required>
            <p class="validation iValid" id="passwordMessage"><%=error%></p>
          <% } else { %>
            <input type="text" name="emailOrPhone" placeholder="Email or Phone Number" id="emailOrPhone" class="" required>
          <% } %>
  
          <!-- Submit Button -->
          <button type="submit">Send OTP</button>
        </form>

        <!-- Link to Login Page -->
        <div class="login-link">
          <p>Remembered your password? <a href="/auth/login">Log in here</a></p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="/javascripts/authentication/forgetPassword.js"></script>
</body>
</html>